body{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    text-align: center;
    border:solid ;
    background-color:#1a1a1d ;
    color: white;
    border: solid #c3073f 20px;
    padding-left: 10%;
    padding-right: 10%;

}
img{
    height: 500px;
    width: 400px;
}

h2{
    color:#cf7500;
}
ol{
    position: absolute;
}

#1{
    padding-left: 0%;
}
form{
    font-size: 20px;
}
#sub{
    height: 30px;
    width: 80px;
    background-color:#cf7500;
    border-radius: 10px;
}
#submit{
    height: 30px;
    width: 80px;
    background-color:#cf7500;
    border-radius: 10px;

}